# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/
*.png
research/test_ws/phreatic.bas
research/test_ws/phreatic.cbc
research/test_ws/phreatic.dis
research/test_ws/phreatic.hds
research/test_ws/phreatic.list
research/test_ws/phreatic.lpf
research/test_ws/phreatic.nam
research/test_ws/phreatic.oc
research/test_ws/phreatic.pcg
research/test_ws/phreatic.rch
research/test_ws/phreatic.wel
test_ws/phreatic.bas
test_ws/phreatic.dis
test_ws/phreatic.lpf
test_ws/phreatic.nam
test_ws/phreatic.oc
test_ws/phreatic.pcg
test_ws/phreatic.rch
testing/mf2005.exe
testing/mpath7.exe
test_ws/phreatic.cbc
test_ws/phreatic.hds
test_ws/phreatic.list
greta/ModPath_functions.py
test_ws/phreatic_mp.mpbas
test_ws/phreatic_mp.mpend
test_ws/phreatic_mp.mplst
test_ws/phreatic_mp.mpnam
test_ws/phreatic_mp.mppth
test_ws/phreatic_mp.mpsim
test_ws/phreatic_mp.timeseries
test_ws/source1.sloc
testing/test_files/hk_phrea.npy
testing/test_files/material_phrea.npy
testing/test_files/porosity_phrea.npy
testing/test_files/recharge_phrea.npy
testing/test_files/vani_phrea.npy
test_ws/results/phreatic_df_flowline.csv
research/phreatic_dict_withgravel_test.txt
.gitignore
*.sloc
*.mpbas
*.mpend
*.mplst
*.mpnam
*.mppth
*.mpsim
*.timeseries
*.bas
*.cbc
*.dis
*.hds
*.list
*.lpf
*.nam
*.oc
*.pcg
*.rch
*.wel
test1_ws_semiconf/*
test_phrea_nogp/*
test_ws_phrea/*
*df_flowline_microbial_removal.csv
*df_particle_microbial_removal.csv
*df_flowline.csv
*df_particle.csv
.gitignore
research/phreatic_dict_nogravel_test.txt
testing/test_ModPath_functions.py
research/phreatic_dict_withgravel_test.txt
research/phreatic_df_flowline_Modflow.xlsx
research/phreatic_df_particle_Modflow.xlsx
research/phreatic_dict_gravelpack.txt
research/phreatic_dict_nogravel.txt
research/phreatic_dict_withgravel_test.txt
research/phreatic_test_scheme_dict.txt
research/semiconfined_df_flowline_Modflow.xlsx
research/semiconfined_df_particle_Modflow.xlsx
research/semiconfined_dict_gravelpack.txt
research/semiconfined_dict_nogravel.txt
research/semiconfined_test_scheme_dict.txt
*/results/*.csv

research/sutra_functions.py
testing/test_sutra_functions.py
testing/Testberekeningen_sutra_mbo_removal_220321.xlsx
research/*.txt
research/phreatic_dict_withgravel_test.txt
docs/build
testing/test11_traveltimes_modpath_vs_analytical.xlsx
testing/test_ModPath_functions.py
testing/phreatic_test_mp.csv

testing/test_files/Overzichtstabel_conc_GeoH_B_onvz_afwezig_lek_groot_PG1_20210502.xlsx
testing/test11_phrea/results/phreatic_df_particle_analytical.csv
testing/test11_phrea/results/phreatic_df_particle_modpath.csv
testing/test11_phrea/results/phreatic_summary_traveltimes_analytical.csv
testing/test11_phrea/results/phreatic_summary_traveltimes_modpath.csv
testing/test3_conf_hor_pnts/results/Final_concentrations.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal10m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal15m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal20m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal25m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal30m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal35m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal40m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal45m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal50m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal55m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal60m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal65m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal70m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal75m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal80m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal85m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal90m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal95m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal100m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal110m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal120m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal130m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal140m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal150m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal160m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal170m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal180m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal190m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal200m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal210m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal220m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal230m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal240m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal250m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal260m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal270m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal280m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal290m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal300m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal310m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal320m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal330m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal340m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal350m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal360m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal370m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal380m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal390m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal400m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal410m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal420m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal430m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal440m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal450m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal460m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal470m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal480m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal490m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal500m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal510m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal520m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal530m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal540m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_flowline_microbial_removal550m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal10m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal15m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal20m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal25m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal30m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal35m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal40m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal45m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal50m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal55m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal60m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal65m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal70m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal75m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal80m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal85m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal90m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal95m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal100m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal110m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal120m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal130m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal140m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal150m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal160m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal170m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal180m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal190m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal200m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal210m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal220m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal230m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal240m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal250m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal260m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal270m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal280m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal290m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal300m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal310m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal320m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal330m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal340m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal350m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal360m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal370m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal380m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal390m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal400m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal410m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal420m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal430m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal440m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal450m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal460m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal470m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal480m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal490m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal500m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal510m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal520m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal530m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal540m.csv
testing/test3_conf_hor_pnts/results/semiconfined_df_particle_microbial_removal550m.csv
